html{
  box-sizing: border-box;
}

*{
  padding: 3px;
  margin: 2px;
}

h1, h3{
  color: #0994a7;
}

input{
  border-radius: 2px;
}

select{
  border-radius: 2px;
  background-color: #e4faf9;
}

button{
  background: linear-gradient(45deg, #74f7f0, #d2f5f3);
  border-radius: 8px;
}

li::marker{
  color:  #0994a7;
  list-style-type: square;
  font-size: 20px;
}

.formularios{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.formTareas, .formBusqueda{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

